/generated/
/target/
/pcs-migration-to-alm-generators.iml
/revenera-gcs.zip
/build/
/dist/
/${env.TOMCAT_HOME}/
/Test/.vs/
/repository/
/Test/hbk-signer/bin/
/Test/hbk-signer/obj/
/Test/x64/Release/Test.pdb
/Test/Test/Test.vcxproj
/Test/Test/Test.vcxproj.filters
/Test/Test/Test.vcxproj.user
/Test/Test/x64/
/Test/hbk-signer/hbk-signer.csproj
/Test/x64/
